body {
   padding: 0;
   margin: 0;
   font: 14px "Inter, Lucida Grande", Helvetica, Arial, sans-serif;
   display: flex;
   align-items: center;
   flex-direction: column;
   background-color: #1E1E1E;
   color: white;
}

.topo-logo{
    text-align: center;
}
.topo-logo h1, .topo-logo p{
    color: #fff;
}

/* index */
.resumo{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas de largura igual */
    gap: 20px; /* espaço entre os itens (opcional) */
    max-width: 960px;
}
.resumo-card{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #000;
}
.r-c-tit{
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
}
.r-c-tit h1{
    font-weight: 600;
}
.r-c-desc{
    padding: 0 10px 10px 10px;
}
.r-c-desc-linha{
    padding: 10px 0;
    width: 100%;
    display: flex;
}
.r-c-desc-linha a{
    width: 100%;
    font-size: 16px;
    cursor: auto;
}
.traco-inferior a:hover{
    text-shadow: 2px 2px 3px #aaa;
    cursor: pointer;
}
.traco-inferior a{ 
    text-decoration: underline;
}
.r-c-desc-linha span{
    text-align: right;
    width: 25px;
    font-size: 16px;
    text-align: center;
}
.r-c-obs{
    background-color: #979797;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 0 0 0.5rem 0.5rem;
    margin-top: auto;
}
.cadastros{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #000;
    width: 100%;
    max-width: 960px;
    margin: 20px 0;
    padding: 20px
}
.cadastros-tit{
    text-align: center;
    font-size: 18px;
    padding: 0 0 20px 0;
}
.cadastros-botoes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    padding: 10px;
    gap: 30px;
}
.cadastro-btn{
    display: flex;
    flex-direction: column;
    background-color: #979797;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 0.5rem;
}
.cadastro-btn a{
    color: #fff;
    text-shadow: 2px 2px 5px #444;
}
.cadastro-btn:hover{
    transform: scale(1.025);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 6px #444;
}

/* tabelas */
.tabela table{
    border-radius: 1rem;
    color: #000;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 20px;
}

.tabela table .col-a{
    background-color: #fff;
}

.tabela table .col-b{
    background-color: #979797
}
.tabela table, 
.tabela th, 
.tabela td {
    border: none;
}
.tabela thead tr{
    border-bottom: 2px solid #000
}
.tabela th,
.tabela td {
    padding: 7.5px;
}
.tabela table img{
    max-width: 100px;
}
.tabela #acoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.tabela .btn-qua{
    font-size: 7px;
    color: #fff;
    text-decoration: none;
    width: 25px;
    padding: 5px;
    border-radius: 0.5rem;
}