<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/stylesheets/styleCadastroOP.css">
</head>
<body>
    <div class="container">
        <div class="topo-logo">
            <h1>ArtGallery</h1>
        </div>

    <div class="perfil-box">
        <h2>Escolha seu Perfil</h2>
        <p>Escolha a opção que mais combine com você:</p>
        <p class="aviso">Não é possivel modificar esta informação depois!!</p>

    <form method="GET">
        <button formaction="/cadastro/artista" class="btn">Artista</button>
        <button formaction="/cadastro/apreciador" class="btn">Apreciaodor</button>
    </form>

    <p class="login-link">Já possui uma conta? <a href="/login">Entre agora!</a></p>

    <a href="/" class="voltar">&#8592; Voltar</a>   
    </div>
    </div>    
</body>
</html>
