<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title><%= title %></title>
   <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
   <div class="topo-logo">
      <h1>ArtGallery</h1>
   </div>

   <div class="formulario">
      <div class="topo-formulario">
         <h1>Entrar Em Uma Conta</h1>
         <p>Insira seu e-mail e senha para entrar em sua conta:</p>
      </div>
      
      <% if (sucesso) { %>
         <div class="sucesso"><%= sucesso %></div>
         <script>
            setTimeout(() => { 
               window.location.href = "/sucesso"; // Corrigido para ir à página sucesso.ejs
            }, 5000);
         </script>
      <% } %>

      <form action="/index" method="post">
         <div class="entrada">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" placeholder="email@dominio.com" required>
            <% if (erros.email) { %> <p class="erro"><%= erros.email %></p> <% } %>
         </div>

         <div class="entrada">
            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" placeholder="Senha" required>
            <% if (erros.senha) { %> <p class="erro"><%= erros.senha %></p> <% } %>
            <p>Esqueceu a senha? <a href="#">Recuperar sua conta</a></p>
         </div>

         <div class="envio">
            <input type="submit" value="Entrar Agora">
         </div>
      </form>

      <div class="fim-formulario">
         <p>Não possui uma conta? <a href="/">Cadastre-se agora!</a></p>
      </div>

      <div class="voltar">
         <a href="/">← Voltar</a>
      </div>
   </div>
</body>
</html>
