<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Página Inicial</h1>

    <% if (usuario && usuario.nome_usu) { %>
        <p>Bem-vindo, <%= usuario.nome_usu %>!</p>
        <a href="/logout">Sair</a>
    <% } else { %>
        <p>Bem-vindo, Visitante!</p>
        <a href="/login">Login</a>
    <% } %>
</body>
</html>