<!DOCTYPE html>
<html>
   <head>
      <title><%= title %></title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>
   <body>
      <!-- Login/Entrar -->
      <div class="topo-logo">
         <!-- <img src='../public/images/logo.png' alt='ArtGallery' /> -->
         <h1>ArtGallery</h1>
      </div>
      <h3>Pagina de Login do Artiste</h3>
      </div>
   </body>
</html>
