<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Nova Senha</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="formulario">
    <h1>Nova Senha</h1>
    <form action="/nova-senha" method="post">
      <input type="password" name="senha" required placeholder="Digite a nova senha">
      <input type="submit" value="Alterar Senha">
    </form>
  </div>
</body>
</html>
